@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.nav {
	position: fixed;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 1%;
	z-index: 100;
	background-color: black;
	width: inherit; /*inherit width property value from parent*/
}
.nav-menu {
	display: flex;
	width: 100%;
	flex-direction: column;
	height: 50%;
	align-items: center;
	background-color: black;
	justify-content: space-around;
}
.nav-item {
	display: block;
	overflow: hidden;
	width: 100%;
	margin: 6%;
	height: 2.4vw;
	text-align: center;
}
.nav-toggler {
	position: absolute;
	top: 2%;
}
.icon {
	display: inline;
	color: white;
	font-size: 2vw;
}
.myspan {
	padding: 4%;
	color: white !important;
	font-family: 'Roboto Condensed', sans-serif;
}
@media only screen and (max-width: 430px) {
	.icon {
		font-size: 9vw;
	}
	.nav-item {
		height: 9.9vw;
	}
}
